{% extends 'base.html' %}
{% block content %}
<div class="content">
    <a href="/">ClimateInfo</a> is a Weather App that provides instant weather details.
    We collect and process weather data from different sources such as global and local weather models, satellites, radars and a vast network of weather stations.
    User can access weather data for any location including over 200,000 cities.
    Daily forecast for 5 days and hourly forecast also available.
    The application has simple user interface and provide results instantly.<br><br>
    <h3>Contact Us</h3>
    Rahul Sharma<br>
    Mail us at <a href="mailto:rahultechip@gmail.com" target="_blank">rahultechip@gmail.com</a><br><br>
    <a href="https://www.instagram.com/thisis.rahulsharma/" target="_blank" style="color: red;margin:2%;"><i class="fa fa-instagram" style="font-size:50px;"></i></a>
    <a href="https://www.youtube.com/channel/UC5DWilADjl48XrJOutuAqqw" target="_blank" style="color: red;margin:2%;"><i class="fa fa-youtube" style="font-size:50px;"></i></a>
    <a href="https://www.linkedin.com/in/rahul-2/" target="_blank" style="color: red;margin:2%;"><i class="fa fa-linkedin" style="font-size:50px;"></i></a>
    <a href="https://github.com/mr-rahul-sharma?tab=repositories" target="_blank" style="color: red;margin:2%;"><i class="fa fa-github" style="font-size:50px;"></i></a>
    <a href="https://in.pinterest.com/thisis_rahulsharma/" target="_blank" style="color: red;margin:2%;"><i class="fa fa-pinterest" style="font-size:50px;"></i></a>
</div>
{% endblock %}