<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>ClimateInfo</title>
        <meta charset="UTF-8">
        <meta name="author" content="Rahul Sharma">
        <meta name="description" content="Weather Forecast Details">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="weather, climate, temperature, humidity, pressure, air">
        <link rel = "icon" href="{% static 'logo.png' %}" type = "image/x-icon">
        <link rel='stylesheet' href="{% static 'theme.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'working.js' %}"></script>
    </head>
    <body>
        <ul class="top">
            <li><h1><a href="/" style="color: black;">ClimateInfo</a></h1></li>
            <li><h3><span onclick="getLocation()" style="cursor: pointer;">My Location</span></h3></li>
            <li><h3><a href="https://openweathermap.org/api" target="_blank" style="color: black;">Get API</a></h3></li>
            <li><h3><a href="/aboutus" style="color: black;">About Us</a></h3></li>
        </ul>
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="text" name="location" placeholder="Location" maxlength="75">
            <button type="submit">Search</button><br>
            <small>Location Format: City name,State code(optional),Country code(optional)</small>
        </form>
        {% block content %}
        {% endblock %}
    </body>
</html>